
/* futz with text-shadow to do something cool */
.other-guess {
  color: #9e9e9e;
  /*font-weight: bold;*/
  font-weight: normal;
  /*text-shadow: -2px 0 #d3d3d3, 0 2px #d3d3d3, 2px 0 #d3d3d3, 0 -2px #d3d3d3;*/
  /*text-shadow: -2px -2px 2px #d3d3d3;*/
  text-shadow: -5px 0px 2px #d3d3d3;
  text-align: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.guess {
  /*width: 110% !important;*/
  z-index: 5;
  text-shadow: none !important;
}

.active {
  text-shadow: none !important;
}
